# integration test file, to be used via test.sh

services:
  glvd-postgres:
    image: ghcr.io/gardenlinux/glvd-postgres:latest
    hostname: glvd-postgres
    networks:
      - glvd-triage-IT
    environment:
      POSTGRES_USER: glvd
      POSTGRES_DB: glvd
      POSTGRES_PASSWORD: glvd
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U glvd -d glvd"]
      interval: 10s
      retries: 10
      start_period: 30s
      timeout: 10s

# fixme(fwilhe): depends_on does not seem to work with podman compose?

  # glvd-init:
  #   image: ghcr.io/gardenlinux/glvd-init:latest
  #   networks:
  #     - glvd-triage-IT
  #   depends_on:
  #     glvd-postgres:
  #       condition: service_healthy
  #       restart: false
  #   environment:
  #     PGHOST: glvd-postgres

  # glvd-triage:
  #   build:
  #     dockerfile: ./Containerfile
  #   networks:
  #     - glvd-triage-IT
  #   depends_on:
  #     glvd-init:
  #       condition: service_completed_successfully
  #       restart: false
  #   environment:
  #     PGHOST: glvd-postgres
  #     PAT: TODO


networks:
  glvd-triage-IT: {}
